img{
    border-radius: 10px;
    outline: 5px solid black;
    outline-offset: -3px;
    height: 180px;
    box-shadow: 12px 17px 21px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 12px 17px 21px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 17px 21px -7px rgba(0, 0, 0, 0.75);
    margin: 10px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.honk {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    font-variation-settings:
        "MORF" 15   ,
        "SHLN" 50;
}

.rubik {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

.balance {
    border: 3px solid black;
    border-radius:7px;
    background: rgb(27, 131, 102);
    background: linear-gradient(180deg, rgba(27, 131, 102, 1) 35%, rgba(87, 196, 120, 1) 100%);
    box-shadow: 10px 10px 15px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 15px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px -9px rgba(0, 0, 0, 0.75);
}

.bet {
    border: 3px solid black;
    margin: 1rem 10rem;
    border-radius: 7px;
    background: rgb(27, 131, 102);
    background: linear-gradient(180deg, rgba(27, 131, 102, 1) 35%, rgba(87, 196, 120, 1) 100%);
    box-shadow: 10px 10px 15px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 15px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px -9px rgba(0, 0, 0, 0.75);
}

.controls{
    border: 3px solid black!important;
    margin: 5px;
    width: 9rem;
    box-shadow: 4px 6px 14px -7px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 4px 6px 14px -7px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 4px 6px 14px -7px rgba(0, 0, 0, 0.66);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 0;
}

.hit{
    background-color: #dc3545;
}

.stand{
    background-color: grey;
}

.shadow{
    box-shadow: 12px 19px 14px -7px rgba(0, 0, 0, 0.66) !important;
    -webkit-box-shadow: 12px 19px 14px -7px rgba(0, 0, 0, 0.66) !important;
    -moz-box-shadow: 12px 19px 14px -7px rgba(0, 0, 0, 0.66) !important;
}

.hand-amount{
    margin-top: 2rem;
    font-size: 2rem;
}

#status{
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
}

.lostBal{
    background: rgb(133, 3, 3);
    background: linear-gradient(180deg, rgba(133, 3, 3, 1) 35%, rgba(254, 29, 2, 1) 100%);
}

.drawBal{
    background: rgb(147, 147, 147);
    background: linear-gradient(180deg, rgba(147, 147, 147, 1) 35%, rgba(101, 101, 101, 1) 100%);
}

.setbet button{
    margin: 0 5px;
    transition: all 0.3s ease 0s;
}

button.add:hover{
    background-color: rgb(27, 131, 102);
    color: white;
}

button.sub:hover {
    background-color: #dc3545;
    color: white;

}

.setbet{

}

.badge{
    background-color:rgb(27, 131, 102);
}

.house:hover{
    background-color: black;
    transition: all 0.3s ease 0s;
    color: white;
}

    
